<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ZH-CN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>我的网络空间</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" media="all" href="/static/bootstrap/css/bootstrap.css?v=1">
	<link type="text/css" rel="stylesheet" href="/static/css/base.css">
	{% block css %}{% endblock %}

</head>
<body>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
	{% block content %}{% endblock %}
	{% block jsTemplate %}{% endblock %}
</body>
</html>